<center class="heading"><div class="motion"><a href="/">¡Motion!</a></div></center>

<nav>
	<span class="username" id='<%= user.id %>'><%= user.email.downcase %></span>
	<span class="logout" style="float: right">
		<form action="/sessions" method="POST" name="logout">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<a>logout</a>
		</form>
	</span>
</nav>


<div class="centered">
	<h3 class="agenda_heading"></h3>
	<div class="votes_display"></div>
	<div class="list">
		<% Agenda.all.order(:id).each do |agenda| %>
		<div class="agenda" id="<%= agenda.id %> user<%= agenda.user_id %>">
			<%= agenda.name %>
		</div>
		<% end %>
	</div>
	<div class="attendees_display"></div>

</div>
<div id="input_div">
	<label id="new_agenda">
		<span id="input_text">Create a new agenda!</span>
		<span id="input_field_wrapper"><input id="input_field"></span>
		<button id="form_action">Rock it</button>
	</label>
</div>

